body{
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background: no-repeat;
    background: center;
    background-image: url('../assets/2915093678_preview_1227926.jpg');
}
logo{
    background-image: url('../assets/Logo_NextStage.png');
}

.conteiner{
    height: 90%;
    width: 50%;
    background-color: aliceblue;
}